body {
	background-color: #4d785f;
}

svg {
	display: block;
	margin: 10vh auto;
	height: 80vh;
	padding: 10vh auto;
	border-radius: 50px;
	box-shadow: 2px 2px 10px;
	background-color: #acc5ab;
}

.bar {
	fill: #455843;
}

.bar:hover {
	fill: #208c2d;
}

.axis {
	font: 12px 'Bree Serif', serif;
}

.axis-label {
	text-anchor: middle;
	font: 16px 'Bree Serif', serif;
}

#title {
	font: 40px 'Bree Serif', serif;
	text-decoration: underline;
}

#tooltip {	
    position: absolute;			
    text-align: center;			
    width: 10vw;					
    height: 30px;					
    padding: 10px;				
    font: 12px 'Bree Serif', serif;		
    background: rgb(81, 241, 142);	
    border: 0px;		
    border-radius: 8px;			
}
